*{margin:0;padding:0}

body{  background:#104B63;

font-family:Sans-serif,arial;
font-size:16px;
line-height:22px;
}

.fix {overflow:hidden}

/* ______________________Main body 960px css______ */

.main_body{
	width:960px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0;
	border-radius:0px;
	
	
	/*margin:2px auto;
	display:block;
	background:#E3E3E3;*/

}


/* StartHeader Section________________________ */
.header{width:100%;
		background:skyblue;
		height:162px;
		box-shadow: 0
	
   

}

.logo_site{float: left;
			width:27%;
}

#logo{
	text-align:center;
	margin-left:53%
	
}

.header_right{
	line-height: 30px;
	text-align: center;
	font-size:154%;
	width:70%

}

#right_content{
	margin-right:18%
}
#phone{
	font-size:74%;
	
}

#bismillah{
	height: 29px;
    margin-top: 7px;
    text-align: center;
}
#name{
	font-size: 24px;
    font-weight: bold;	
}

#address{
	font-size: 87%;
    font-weight: normal;
}

/* End of Header section */


#news{background:#3399FF;
	
}


.tdNotice{
	padding-right: 10px;
	color:green;
	
}
#menu {
    width: 100%;
    margin: 8px auto 28px;
    border: 0px solid #133728;
	border-radius: 6px;
    box-shadow: 0 1px 1px #777;
	background:#259869;
	
	/*
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    
	*/
}

#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}


#menu a {
    
    padding: 10px 26px;
    color: #fff;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
	
 
}



.slider {width:100%;margin-bottom:25px;}

.menu-trigger{
	display:none
}
.mainmenu{
	margin-top: -99px;
	width:100%;
	text-align:center;
}

.mainmenu ul{margin:0;padding:0;list-style:none}

.mainmenu ul li{float:left;
	    border-right: 1px solid #133728;
		border-left: 1px solid #45B989;
		padding-bottom:7px;
		padding-top:7px;

	
}

.mainmenu ul li:last-child{border-right:0px solid}

.mainmenu li :hover{background:#33614E;}

.mainmenu ul li a{text-decoration:none;padding:15px}

.mainmenu ul li a:hover{color:#fff;}


.maincontent{line-height:26px}



.sidebar{float: left;
		margin-left:5px;
		width:20%;
		margin-right:3%;
		text-align: center;
		background:#24AF5C;
		padding: 1%;
		border: 2px solid #E3E3E3;
		margin-top:50px;
		
		border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

 }

.sidebar ul {margin:0;padding:0;list-style:none;}

.sidebar ul li{padding:5px;border-bottom:1px solid #33614E;}

.sidebar ul li:hover{background:#33614E}
.sidebar ul li:last-child{border-bottom:0px solid #33614E;}

.sidebar ul li a{text-decoration:none;color:#fff;}

.sidebar ul li a:hover{color:#000;font-weight:bolder;}


.content {width:72%;
	margin-right:4px;
	margin-top: 49px;
	text-align:justify
}


.content h2{margin-bottom:15px;
	font-weight:normal
	}
	
	
.content p {
margin-bottom:15px
}

.footer {padding:10px;text-align:center;
	background:skyblue;
	font-size:22px;
	margin-top: 0px;
	text-align:left
}
#leftside{
	float:left;
	padding:5px;
	font-size:16px;
	text-align:left;
	margin-left:24px;
	line-height:30px;
}
#rightside{
	font-size:16px;
	text-align:right;
	margin-right:57px;
	margin-top:20px;
	float:right;
	
	line-height:30px;
}

#edu_leftside{
	 float: left;
    font-size: 20px;
    line-height: 36px;
    margin-left: 24px;
    padding: 5px;
    text-align: left;
}
#edu_rightside{
	font-size: 20px;
    line-height: 39px;
    margin-right: 57px;
    margin-top: 20px;
    text-align: right
}

#logofooter{
	padding:10px;
	margin-top:20px;
	margin-left:10px;
	float:middle
	
}
#leftleft{float:left;margin-right:89px}
#logofooter{float:right}
.logofooter{margin-right:5px;}







/*__________________________________________________admission.html______________________________________     */

.admission_mainmenu{}

.admission_mainmenu{margin-top: -7px;width:100%;margin-bottom:-54px;}
.admission_mainmenu ul{margin:0;padding:0;list-style:none}
.admission_mainmenu ul li{float:left;
	    border-right: 1px solid #133728;
		border-left: 1px solid #45B989;
}

.admission_mainmenu li:last-child{border-right:0px solid}
.admission_mainmenu li :hover{background:#33614E}
.admission_mainmenu ul li a{text-decoration:none;display:block;color:#fff;padding:15px}
.admission_mainmenu ul li a:hover{color:#fff}

.admission_maincontent{line-height:33px;}
.admission_content{padding-left:29px; margin-top: 43px;

}
#rules_of_admission{
	line-height:40px;
	padding:14px
}






/*__________________________________________________gallery.html______________________________________     */


.gallery_mainmenu{}

.admission_mainmenu{margin-top: -7px;width:100%;height:129px;margin-bottom:-54px}
.gallery_mainmenu ul{margin:0;padding:0;list-style:none}
.gallery_mainmenu ul li{float:left;
	    border-right: 1px solid #133728;
		border-left: 1px solid #45B989;
		padding:7px 0;
		}
.gallery_mainmenu li:last-child{border-right:0px solid}
.gallery_mainmenu li :hover{background:#33614E}
.gallery_mainmenu ul li a{text-decoration:none;display:blockcolor:#fff;padding:15px}
.gallery_mainmenu ul li a:hover{color:#fff}

.gallery_maincontent{}
.gallery_content{ margin-left: 57px;}


#photo{
	
	
	
}








/*--------------------------------------------------------education.html--------------------------------------------------------*/
.edu_main_body{
	width:1180px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0;
	border-radius:0px;
	
}
.edu_mainmenu{ background: #259869 none repeat scroll 0 0;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.edu_mainmenu ul{ 
	list-style: outside none none;
   margin: 0 65px;
    padding: 0;
	}
	
.edu_mainmenu ul li{
		float:left;
	    border-right: 1px solid #133728;
		border-left: 1px solid #45B989;
		
}

.edu_mainmenu ul li:last-child{border-right:0px solid}

.edu_mainmenu ul li:first-child{border-left:0px solid}

.edu_mainmenu ul li:hover{background:#33614E;}

.edu_mainmenu ul li a{color: #fff;
    display: block;
    font-size: 18px;
    padding: 13px;
    text-decoration: none;
	    margin: 0px 23px 0px;
}
.edu_mainmenu ul li a:hover {color:#fff}

.education_content{
font-size: 19px;
    line-height: 40px;
	text-align: justify;
    margin-top: 0;
    padding: 11px;
}





/*--------------------------------------------------------contact.html--------------------------------------------------------*/

.contact_content{line-height:30px; margin-top: 39px }
#marquee{
	margin-top:-9px
}

section{
	float:none;
	text-align: center;
	margin-top:23px;
}
.contact_maincontent{
	padding:10px
	
}



/* About us 1 html CSS */

#single_product{
	margin-left:20px; padding:10px;float:left
}

















